.vertical {
  vertical-align: middle;
  height: 78px;
  width: 0;
  display: inline-block; }

.public, .head .headmain, .head .headfoot, .promotion .promotionContent, .sMain .sMain-main, #footer .footerPicNew .footerPicNewInner {
  margin: 0 auto;
  width: 1200px; }

.head {
  width: 100%;
  border-bottom: 3px solid #ff2832; }
  .head .headTop {
    height: 34px;
    width: 100%;
    background-color: #f9f9f9;
    position: relative; }
    .head .headTop .SZ_class1, .head .headTop .SZ_class2 {
      margin-top: 4px;
      position: relative;
      display: block;
      padding-left: 10px;
      float: left;
      width: 98px;
      line-height: 28px;
      font-size: 12px;
      color: #646464;
      z-index: 20;
      background: url("../images/zy.png") no-repeat 73px 15px; }
    .head .headTop .SZ_class2 {
      margin-top: 4px;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-bottom: 0px; }
    .head .headTop #SZ_site {
      padding-top: 15px;
      width: 298px;
      height: 182px;
      background: #fff;
      border: 1px solid #e6e6e6;
      position: absolute;
      left: 30px;
      top: 30px;
      display: none; }
      .head .headTop #SZ_site .site_a {
        margin-left: 10px;
        display: block;
        float: left;
        text-align: left;
        width: 48px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        color: #646464; }
      .head .headTop #SZ_site .site_a:hover {
        color: red; }
    .head .headTop ul {
      height: 34px;
      float: right; }
      .head .headTop ul li, .head .headTop ul .headfoot #headfootVariety li a, .head .headfoot #headfootVariety li .headTop ul a {
        margin-top: 10px;
        height: 14px;
        line-height: 12px;
        float: left;
        padding-right: 8px;
        padding-left: 7px;
        border-right: 1px solid #e6e6e6;
        font-size: 12px;
        color: #646464; }
        .head .headTop ul li a, .head .headTop ul .headfoot #headfootVariety li a a, .head .headfoot #headfootVariety li .headTop ul a a {
          font-size: 12px;
          color: #646464; }
        .head .headTop ul li .DL, .head .headTop ul .headfoot #headfootVariety li a .DL, .head .headfoot #headfootVariety li .headTop ul a .DL {
          color: red; }
        .head .headTop ul li a:hover, .head .headTop ul .headfoot #headfootVariety li a a:hover, .head .headfoot #headfootVariety li .headTop ul a a:hover {
          color: #ff2832; }
      .head .headTop ul li:last-child, .head .headTop ul .headfoot #headfootVariety li a:last-child, .head .headfoot #headfootVariety li .headTop ul a:last-child {
        border: 0px; }
      .head .headTop ul #myDd {
        position: relative; }
        .head .headTop ul #myDd #myDd_nav {
          position: absolute;
          background: #fff;
          width: 80px;
          height: 168px;
          border: 1px solid #e6e6e6;
          border-top: 0px;
          top: 26px;
          left: -2px;
          display: none; }
          .head .headTop ul #myDd #myDd_nav a {
            display: block;
            text-align: left;
            padding-left: 7px; }
          .head .headTop ul #myDd #myDd_nav a:hover {
            color: #000;
            background: #e6e6e6; }
      .head .headTop ul .topBtn {
        padding-right: 24px;
        background: url("../images/zy.png") no-repeat 60px 5px; }
      .head .headTop ul .topBtn2 {
        padding-left: 6px;
        padding-right: 24px;
        background: url("../images/zy.png") no-repeat 60px 11px;
        margin-top: 3px;
        height: 28px;
        line-height: 24px;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-bottom: 0px; }
  .head .headmain {
    height: 100px; }
    .head .headmain #logo {
      float: left;
      display: block;
      height: 100px;
      width: 200px;
      background: url("../images/logo.png") no-repeat; }
    .head .headmain #inquire {
      width: 565px;
      float: left;
      margin-top: 20px;
      margin-left: 162px; }
      .head .headmain #inquire input {
        float: left;
        height: 36px;
        border: 0;
        border: 2px solid #ff2832; }
      .head .headmain #inquire #inquire1 {
        width: 400px;
        padding-left: 8px;
        border-right: 0; }
      .head .headmain #inquire #inquireClassify {
        float: left;
        width: 106px;
        height: 36px;
        background-color: #f6f6f6;
        border: 2px solid #ff2832;
        border-left: 0;
        border-right: 0; }
        .head .headmain #inquire #inquireClassify a {
          float: left;
          width: 106px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          font-size: 15px;
          color: #969696;
          background: url("../images/head_sprite.png") no-repeat 74px -75px; }
      .head .headmain #inquire #inquire_btn {
        display: block;
        height: 40px;
        width: 45px;
        background: url("../images/sousuo.png") no-repeat center top;
        border: 2px solid #ff2832; }
      .head .headmain #inquire #inquire_foot {
        overflow: hidden; }
        .head .headmain #inquire #inquire_foot #hot_inquire {
          margin-top: 8px;
          height: 30px;
          float: left; }
          .head .headmain #inquire #inquire_foot #hot_inquire li, .head .headmain #inquire #inquire_foot #hot_inquire .headfoot #headfootVariety li a, .head .headfoot #headfootVariety li .headmain #inquire #inquire_foot #hot_inquire a {
            color: #969696;
            float: left;
            padding: 0 8px;
            font-size: 12px; }
          .head .headmain #inquire #inquire_foot #hot_inquire li:nth-child(1), .head .headmain #inquire #inquire_foot #hot_inquire .headfoot #headfootVariety li a:nth-child(1), .head .headfoot #headfootVariety li .headmain #inquire #inquire_foot #hot_inquire a:nth-child(1) {
            padding: 0; }
      .head .headmain #inquire .seek {
        color: #969696;
        font-size: 12px; }
      .head .headmain #inquire #EXseek {
        margin-top: 8px;
        float: right; }
    .head .headmain .shopping {
      margin-top: 20px;
      width: 199px;
      height: 40px;
      float: right; }
      .head .headmain .shopping #shopping_a1 {
        display: block;
        height: 40px;
        background-color: #ff2832;
        width: 111px;
        float: left; }
      .head .headmain .shopping #shopping_a2 {
        width: 86px;
        float: left;
        height: 36px;
        border: 2px solid #dcdcdc;
        border-left: 0;
        font-size: 12px;
        line-height: 36px;
        text-align: center;
        font-weight: bold;
        color: #646464; }
  .head .headfoot {
    height: 40px; }
    .head .headfoot #headfootSort {
      float: left;
      width: 180px;
      height: 40px;
      padding-left: 20px;
      background-color: #ff2832;
      text-align: left;
      line-height: 40px;
      font-weight: bold;
      font-size: 12px;
      color: #fff; }
    .head .headfoot #headfootVariety {
      height: 40px;
      float: left;
      margin-left: 18px; }
      .head .headfoot #headfootVariety li, .head .headfoot #headfootVariety li a {
        height: 40px;
        float: left; }
        .head .headfoot #headfootVariety li a {
          padding: 0 16px;
          display: block;
          line-height: 40px;
          font-size: 12px;
          font-weight: bold;
          color: #000; }
        .head .headfoot #headfootVariety li a:hover {
          color: #ff2832; }

.ranking {
  width: 100%;
  background-color: #f9f9f9; }
  .ranking ul {
    width: 1200px;
    margin: 0 auto;
    height: 31px; }
    .ranking ul li, .ranking ul .head .headfoot #headfootVariety li a, .head .headfoot #headfootVariety li .ranking ul a {
      height: 31px;
      float: left;
      padding-left: 14px;
      padding-right: 15px; }
      .ranking ul li a, .ranking ul .head .headfoot #headfootVariety li a a, .head .headfoot #headfootVariety li .ranking ul a a {
        line-height: 30px;
        font-size: 12px;
        color: #000; }
      .ranking ul li a:hover, .ranking ul .head .headfoot #headfootVariety li a a:hover, .head .headfoot #headfootVariety li .ranking ul a a:hover {
        color: #ff2832;
        text-decoration: underline; }

.promotion {
  width: 100%;
  height: 90px;
  overflow: hidden; }
  .promotion .promotionContent {
    height: 65px;
    margin-top: 15px; }

.sMain {
  width: 100%;
  background: #654; }
  .sMain .sMain-main {
    height: 920px;
    background: #999;
    display: flex; }
    .sMain .sMain-main .sMain-main-conent {
      flex: 1;
      width: 100%;
      height: 920px;
      background: green; }
      .sMain .sMain-main .sMain-main-conent .rollWrampBox {
        height: 315px;
        background: #fab; }
        .sMain .sMain-main .sMain-main-conent .rollWrampBox .rollWramp {
          width: 750px;
          height: 315px; }
    .sMain .sMain-main-left {
      width: 188px;
      height: 920px;
      background: red; }
    .sMain .sMain-main-right {
      width: 238px;
      height: 920px;
      background: red; }

#footer .footerPicNew {
  height: 78px;
  border-top: 2px solid #ff2832;
  border-bottom: 2px solid #ebebeb;
  background-color: #fafafa; }
  #footer .footerPicNew .footerPicNewInner {
    width: 845px;
    height: 78px;
    text-align: center;
    background-color: #fafafa; }
    #footer .footerPicNew .footerPicNewInner a {
      margin-top: 12px;
      margin-left: 97px;
      display: inline-block;
      height: 52px;
      width: 138px;
      float: left;
      background: url("../images/footer_bg.png") no-repeat; }
    #footer .footerPicNew .footerPicNewInner a:nth-child(1) {
      margin-left: 0px; }
    #footer .footerPicNew .footerPicNewInner a:nth-child(2) {
      background-position: 0px -52px; }
    #footer .footerPicNew .footerPicNewInner a:nth-child(3) {
      background-position: 0px -104px; }
    #footer .footerPicNew .footerPicNewInner a:nth-child(4) {
      background-position: 0px -156px; }

#footer .publicFooterNew {
  width: 945px;
  margin: 0 auto;
  height: 170px;
  overflow: hidden; }
  #footer .publicFooterNew .footerSort {
    margin-top: 30px;
    float: left;
    height: 140px;
    width: 155px; }
    #footer .publicFooterNew .footerSort span {
      text-align: center;
      height: 34px;
      line-height: 34px;
      display: block;
      font-weight: bold;
      font-size: 12px; }
    #footer .publicFooterNew .footerSort ul {
      height: 105px; }
      #footer .publicFooterNew .footerSort ul li, #footer .publicFooterNew .footerSort ul .head .headfoot #headfootVariety li a, .head .headfoot #headfootVariety li #footer .publicFooterNew .footerSort ul a {
        height: 20px;
        line-height: 20px;
        width: 155px; }
        #footer .publicFooterNew .footerSort ul li a, .head .headfoot #headfootVariety li #footer .publicFooterNew .footerSort ul a a {
          font-size: 12px;
          color: #7d7d7d;
          text-align: center;
          display: block;
          width: 155px;
          height: 20px;
          line-height: 20px; }
        #footer .publicFooterNew .footerSort ul li a:hover, .head .headfoot #headfootVariety li #footer .publicFooterNew .footerSort ul a a:hover {
          color: #ff2832;
          text-decoration: underline; }

#footer .footerNavBox {
  padding-top: 17px;
  border-top: 2px solid #ebebeb;
  height: 101px;
  padding-bottom: 50px;
  border-bottom: 2px solid #ebebeb; }
  #footer .footerNavBox .footerNav {
    text-align: center;
    overflow: hidden; }
    #footer .footerNavBox .footerNav a {
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #7d7d7d; }
    #footer .footerNavBox .footerNav a:hover {
      color: #ff2832;
      text-decoration: underline; }
    #footer .footerNavBox .footerNav .sep {
      padding-left: 17px;
      padding-right: 19px; }
    #footer .footerNavBox .footerNav .footerHotSearch {
      display: inline-block;
      width: 51px; }
    #footer .footerNavBox .footerNav .footer_copyright {
      margin-top: 30px; }
      #footer .footerNavBox .footerNav .footer_copyright span {
        font-size: 12px;
        color: #7d7d7d; }
